* {
  margin: 0;
  padding: 0;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#contenu {
  width: 650px;
  background: rgba(0, 0, 0, 0.1);
  margin: auto;
  text-align: center;
  color: white;
  padding: 10px;
  text-shadow: 2px 2px 4px black;
  letter-spacing: 2px;
}

#contenu h2 {
  font-family: "Roboto", sans-serif;
  line-height: 45px;
  font-size: 18px;
  font-weight: bolder;
}
#contenu h1 {
  font-family: "Lato", sans-serif;
  font-size: xx-large;
  line-height: 25px;
}
#contenu p {
  font-family: "Lato", sans-serif;
  line-height: 23px;
  margin-top: 22px;
  font-size: 0.9em;
}
#v {
  width: 100%;
  height: 100%;
  background: yellow;
  position: fixed;
  z-index: -1;
}
#v video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* css pour le menu */

#menu {
  position: fixed;
  right: 5px;
  top: calc(50% - 100px);
  background: #343b2fb4;
}
#menu ul {
  list-style: none;
}

#menu ul li {
  border: 1px solid black;

  text-align: right;
}
/* a est par defaut inline */
#menu ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}
#menu ul li a:hover {
  background: #718a5f;
}
